
// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// Font-sizes
$default-font-size: 1.6rem;

$body-color: #000000;
$card-bg: #1F1F1F;
$button-bg: #333333;
$highlight: #C4F82A;